.puzzle-game-wrapper {
	display: grid;
	min-height: 60vh;
	grid-area: game;
	grid-gap: 2%;
	grid-template-rows: 15% 30% 45%;	
	grid-template-columns: repeat(4, 25%);
	grid-template-areas: ". title title ."
						 ". game score ."
						 ". game palm-tree .";
	background-image: url(background.svg);
	background-size: fill;
}

.puzzle-header {
	grid-area: title;
}

.button.button--primary {
	background-color: #fff;
	color: #006cc2;
	margin: 2em 0;
}

.puzzle-title {
	align-self: center;
	color: #fff;
}

.puzzle-game { 
	display: grid;
	margin: 2em 0;
	grid-area: game;
	align-self: start;
	justify-self: center;
	max-width: 35vw;
	border: 10px solid cornflowerblue;
	grid: 1fr 1fr 1fr / 1fr 1fr 1fr;        
	background: rgba(0, 0, 0, .5);
}

.puzzle-game-image {
	width: 100%;
	margin: 0;
	outline: 1px solid #000;
	outline-offset: -1px;
}

.hidden-piece {
	opacity: 0;
}

.puzzle-game-image:focus {
	outline-color: red;
}

.puzzle-score {
	grid-area: score;
	font-size: 2em;
	font-weight: normal;
	color: #fff;
}

.puzzle-score p {
	margin: 0;
}

.palm-tree {
	grid-area: palm-tree;
	background-image: url(grid_game_extra_palm.png);
	background-repeat: no-repeat;
}

.piece-is-moveable {
	border: 2px solid #fff;
	outline: 1px solid #fff;
}

.congratulations {
	display: none;
	font-weight: bold;
}

dl {
	margin: 2em 0;
	flex-wrap: wrap;
}

dt {
	background-color: #ccc;
}

dt,
dd {
	padding: .5em;
	border: 1px solid #ccc;
}

.css-grid-content {
	margin: 3em auto;
	max-width: 50%;
}

@media screen and (max-width: 800px) {

	.puzzle-game-wrapper {
		grid-template-columns: 10% repeat(2, 40%) 10%;
		grid-template-areas:". title title ." 
							". score score ."
							". game game .";
		max-height: unset;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.puzzle-game {
		width: 90%;
		max-width: 90%;
		margin-top: 10px;
	}

	.palm-tree {
		display: none;
	}

	.css-grid-content {
		max-width: 80%;
	}

}